<div>
<img src="images/beer.png" />
 <a href="beers">
       <button class="button">Check the beers!</button>
     </a>
<a href="random-beer">
       <button class="button">Check a randmom beer!</button>
     </a>
</div>